export LIB_DIR=/node/applications/releases

export JDK_VERSION=12.0.2
export JDK_TAR=openjdk-12.0.2_linux-x64_bin.tar.gz 
export JDK_URL=https://download.java.net/java/GA/jdk12.0.2/e482c34c86bd4bf8b56c0b35558996b9/10/GPL/${JDK_TAR}
export JDK_DIR=${LIB_DIR}/jdk-${JDK_VERSION}
export JDK_BIN_DIR=${JDK_DIR}/bin
export JAVA_HOME=${JDK_DIR}

export MAVEN_VERSION=3.6.1
export MAVEN_TAR=apache-maven-3.6.1-bin.tar.gz
export MAVEN_URL=http://us.mirrors.quenda.co/apache/maven/maven-3/3.6.1/binaries/${MAVEN_TAR}
export MAVEN_DIR=${LIB_DIR}/apache-maven-${MAVEN_VERSION}
export MAVEN_BIN_DIR=${MAVEN_DIR}/bin
export MAVEN_HOME=${MAVEN_DIR}

export ROOT=$PWD
export CLD2_DIR=${ROOT}/cld2
export CLD2_LIB_DIR=${CLD2_DIR}/internal
export CLD2_REPO=https://github.com/CLD2Owners/cld2.git
export CLD2_COMMIT=b56fa78a2fe44ac2851bae5bf4f4693a0644da7b

export CLD2_JAVA_REPO=https://github.com/commoncrawl/language-detection-cld2.git
export CLD2_JAVA_DIR=${ROOT}/language-detection-cld2

export PATH=${JDK_BIN_DIR}:${MAVEN_BIN_DIR}:${PATH}
export LD_LIBRARY_PATH=/node/projects/language-service/cld2/internal
export LD_PRELOAD=/node/projects/language-service/cld2/internal/libcld2_full.so
